<div class="content">
  <div class="right floated price">{{home.listingType}} | ${{home.price}}</div>
  <div class="header">
    {{home.street}}
    <div class="sub header">{{home.city}}, {{home.state}} {{home.zip}}</div>
  </div>
</div>
<div class="image home-image-container" {{action "previewImages"}}>
  <img src={{firstPhoto.thumbnailSecureUrl}} alt={{concat home.street home.city home.state}}>
</div>
<div class="content">
  <div class="meta">{{home.beds}} beds | {{home.baths}} bath</div>
  <div class="description">
    <p>House Features: {{home.features}}</p>
    <p>Flooring: {{home.flooring}}</p>
    <p>Pet Policy:  {{home.petPolicy}}</p>
    <p>Schools: {{home.schools}}</p>
    <p>Lease Terms:  {{home.leaseTerms}}</p>
  </div>
</div>
<div class="extra content">
  <div class="left floated like">
    {{#link-to 'messages'}}
      <i class="mail icon"></i>
      Contact
    {{/link-to}}
  </div>
  {{!-- <div class="right floated star">
    <i class="star icon"></i>
    Favorite
  </div> --}}
</div>
