<section class="ui grid container house-listings">
  {{#if hasNoHomes}}
    <div class="row">
      <div class="column">
        <h4>
          Sorry we do not have any homes right now, come check back later.
        </h4>
      </div>
    </div>
  {{else}}
  <div class="row">
    <div class="eight wide column house-listings-filter">
      <span><strong>Listing Type: </strong> </span>
      {{#ui-dropdown class="inline" onChange=(action 'listTypeSelectionChange')}}
        <div class="text"> {{listingTypeSelection}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
        {{#each listingTypes as |listingType|}}
          <div class="item">
            {{listingType}}
          </div>
        {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
  </div>

  {{!-- <div class="row"> --}}

  {{!-- </div> --}}
  {{/if}}
</section>

<div class="ui container">
  <div class="ui stackable two column grid houses">
    {{#each filteredHomes as |home|}}
      <div class="column">
        {{home-card home=home previewImages=(action "showImages")}}
      </div>
    {{/each}}
  </div>
</div>

{{#ui-modal name="preview-images" class="large preview-images" onHidden=(action 'previewImagesClosed')}}
  <i class="close icon"></i>
  <div class="ui header">
    Home Photo Feed
    <div class="sub header">
      {{previewPhotosTitle}}
    </div>
  </div>
  <div class="image content">
    <div class="ui huge images">
      {{#each previewPhotos as |photo|}}
        <img src={{photo}} alt="Photo of home">
      {{/each}}
    </div>
  </div>
{{/ui-modal}}
