<div class="pull-up">

  <section class="ui inverted vertical masthead center aligned segment site-banner">
    <div class="site-banner-overlay"></div>
    <div class="ui text site-banner-content">
      <h1 class="ui huge inverted header site-banner-header">
        Blesdaze Properties
      </h1>
      <h2 class="site-banner-sub-header">Property management and realty estate services leading by one principal: <em>Hope, Help and Home</em></h2>
      {{!-- {{> "find-home-button"}} --}}
    </div>
  </section>

  <section class="ui vertical segment motto">
    <div class="ui container">
      <p class="motto-text">
        Without a realtor, home sellers or buyers are at a disadvantage in the real estate market. Please <a href="/contact-us">contact us</a> for assistance in negotiating your next sell or purchase.
      </p>
    </div>
  </section>
  {{#if featuredHome}}
    <section class="ui vertical segment featured-home">
      <div class="ui stackable grid container">
        <div class="row">
          <h3 class="sixteen wide column ui header featured-home-header">
            <i class="star icon featured-home-header-icon"></i>
            Featured Home
          </h3>
        </div>
        <div class="row">
          <div class="eight wide column">
            <img src={{featuredHomePhoto.thumbnailSecureUrl}} class="ui large bordered rounded image">
          </div>
          <div class="eight wide column">
            <h2 class="ui header featured-home-address">
              {{featuredHome.street}} <br>
              {{featuredHome.city}}, {{featuredHome.state}} {{featuredHome.zip}}
            </h2>
            <h2 class="ui header featured-home-price">
              {{featuredHome.price}}
            </h2>
            <div class="ui meta featured-home-meta-info">
              <div class="featured-home-meta featured-home-meta-bd">
                {{featuredHome.beds}} Bd
              </div>
              <div class="featured-home-meta featured-home-meta-ba">
                {{featuredHome.baths}} Ba
              </div>
              {{!-- <div class="featured-home-meta featured-home-meta-sqft">
                1,564 Sq Ft
              </div> --}}
            </div>
            <div class="feature-home-desc">
              <p>
                {{featuredHome.features}}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="center aligned column">
            {{link-to 'Checkout our homes' 'homes' class="ui huge button"}}
            {{!-- <a class="ui huge button">Check it out</a> --}}
          </div>
        </div>
      </div>
    </section>
  {{/if}}


  <section class="ui vertical segment">
    <div class="ui stackable grid container">
      <div class="column">
        <figure class="featured-owner">
          <img class="ui centered circular image featured-owner-image" src="images/curtis.jpg" alt="Curtis Watson - Blesdaze Properties founder">
          <figcaption class="featured-owner-caption">Curtis Watson <br> Founder and Owner</figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section class="ui vertical segment">
    <div class="ui text container">
      <h3 class="ui centered header">
        Blesdaze Properties has been in business for nearly ten years and we have an outstanding track record. Our testimonials prove it.
      </h3>
      {{#carousel-container transition-interval=400}}
        {{#carousel-body}}
          <div class="featured-testimonials">
            {{#carousel-item}}
              <div class="featured-testimonial">
                <p class="featured-testimonial-content">
                  "Blesdaze Properties is managing my condo and within days showings have been scheduled..." I am glad you are already showing it, and when it is all done, I believe it will rent quickly. Thank you for your attention to all of this. You are doing a great job."
                </p>
                <div class="featured-testimonial-author">
                  <strong>
                    <i>
                      RoseAnne I.
                    </i>
                  </strong>
                </div>
              </div>
            {{/carousel-item}}

            {{#carousel-item}}
              <div class="featured-testimonial">
                <p class="featured-testimonial-content">
                  "I cannot thank you enough for all of your help with the property. Blesdaze Property Management Services coordinated repairs and cleanup for the sale of our house. You have been such a blessing to us and we sincerely appreciate you."
                </p>
                <div class="featured-testimonial-author">
                  <strong>
                    <i>
                      Fleda M.
                    </i>
                  </strong>
                </div>
              </div>
            {{/carousel-item}}
            {{#carousel-item}}
              <div class="featured-testimonial">
                <p class="featured-testimonial-content">
                  "Blesdaze Properties has been the property manager at my Charlotte home while I've lived in Arizona for more than 6 years. Even though I am clear across the country I have never had a worry about my Charlotte home, every problem that has popped up has been expertly handled by Blesdaze Properties. I would recommend Blesdaze Properties to any homeowner who needs a good, trustworthy property manager."
                </p>
                <div class="featured-testimonial-author">
                  <strong>
                    <i>
                      Josh Z.
                    </i>
                  </strong>
                </div>
              </div>
            {{/carousel-item}}
            {{#carousel-item}}
              <div class="featured-testimonial">
                <p class="featured-testimonial-content">
                  “Blesdaze Properties provides a personal touch. They care enough about you to let you know who your neighbors are and that made me feel welcomed and appreciated as a tenant. They are always doing things in the community to make it beautiful. It makes me feel good that they care enough to go that extra mile to provide excellent customer services.”
                </p>
                <div class="featured-testimonial-author">
                  <strong>
                    <i>
                      Beverly H.
                    </i>
                  </strong>
                </div>
              </div>
            {{/carousel-item}}
            {{#carousel-item}}
              <div class="featured-testimonial">
                <p class="featured-testimonial-content">
                  “Eight years ago, Blesdaze Properties purchased my house along with several along my street. Since Blesdaze Property Management Services have been here our entire neighborhood has improved. Each day I am confident that someone from their staff will be available to handle any issues that may arise. The company has even worked with City leadership to improve police, sanitation and traffic concerns. I would recommend this company to anyone.”
                </p>
                <div class="featured-testimonial-author">
                  <strong>
                    <i>
                      Joe L.
                    </i>
                  </strong>
                </div>
              </div>
            {{/carousel-item}}
          </div>
        {{/carousel-body}}

        {{carousel-arrow direction="left" class="line-arrow left"}}
        {{carousel-arrow direction="right" class="line-arrow right"}}
      {{/carousel-container}}
      {{!-- {{featured-testimonials}} --}}
    </div>
  </section>


  <section class="ui vertical segment">
    <div class="ui stackable grid container">
      <div class="six wide column">
        <div class="ui fluid image">
          <img src="images/rental-kharma-logo.png" alt="Rental Kharma logo">
        </div>
      </div>
      <div class="ten wide column">
        <div class="content">
          <h2 class="ui header">
            Build Your Credit With Rent
          </h2>
          <p>
            As a renter, often times your good payment history goes unreported to the credit bureau. Along with all of {{link-to 'our other great services' 'services'}}, Blesdaze Properties provides a solution to this issue. We are proud to offer Rental Kharma.
          </p>
          <p>
            To learn more and receive a discount for this service, it is required that you use the link below. Click on 'menu', then 'products'. Contact Ms. Timika Massey directly at <a href="tel:18885124446">888-512-4446</a>
          </p>
          <p>
            <a href="http://www.myfes.net/Tmassey">http://www.myfes.net/Tmassey</a>
          </p>
        </div>
      </div>
    </div>
  </section>

</div>
