{{drop-zone
  url=url
  headers=headers
  paramName=paramName
  acceptedFiles=acceptedFiles
  autoProcessQueue=autoProcessQueue
  parallelUploads=parallelUploads
  addRemoveLinks=addRemoveLinks
  dictDefaultMessage=defaultMessage
  addedfile=(action 'addedfile')
  removedfile=(action 'removedfile')
  sending=(action 'sending')
  queuecomplete=(action 'queuecomplete')
  error=(action 'error')
}}

<section class="home-photos">
  <div class="ui four column grid">
    {{#each home.photos as |photo|}}
      {{admin/home-photo photo=photo remove=(action 'removePhoto')}}
    {{/each}}
  </div>
</section>

<div class="home-photo-actions">
  <button class="ui button" {{action "uploadPhotos"}} disabled={{shouldDisableButton}}>Upload {{selectedPhotoCount}} Photos</button>
</div>
